<!DOCTYPE html>
<html >
<head>

    <title>Bert Question Answering</title>
    {% include "head.html" %}
    <body style="background-color:rgb(20,20,20);">

    <section class="menu cid-qWWXqwQEQ7" once="menu" id="menu1-24" style="background-image:none; background-color:rgb(20,20,20);">
        <div class="my-menu" style="background-color:rgb(0,157,250);" >
            <span class=" logo"><a href="{{ url_for('home') }}" class="logo" style="padding-left: 0px">Bert Question Answering</a></span>
        </div>
    </section>

<section class=" cid-qYkSYwjd5G" id="header2-25" style="height: 600px; background-image:none; background-color:rgb(20,20,20);">
    {% include "search_box.html" %}
</section>

{% include "footer.html" %}
{% include "bottom_scripts.html" %}
</body>
</html>
